In [21]:
import pandas as pd 
from collections import defaultdict, deque

In [2]:
stop_times=pd.read_csv('stop_times.txt')

In [3]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,22580120000007,7:33:00,7:33:00,740000597,1,0,1
1,22580120000007,7:34:00,7:34:00,740031907,2,0,0
2,22580120000007,7:35:00,7:35:00,740031906,3,0,0
3,22580120000007,7:37:00,7:37:00,740023373,4,0,0
4,22580120000007,7:38:00,7:38:00,740001062,5,0,0

In [4]:
trips=pd.read_csv('trips.txt')

In [5]:
trips.head()

,route_id,service_id,trip_id,trip_headsign,trip_short_name
0,1258012000001,1023,22580120000007,Jändelskolan,NaN
1,1258012000001,1024,22580120000107,Jämjö centrum Jämjöhallen,NaN
2,1258012000001,1,22580120000003,Jämjö Parkvägen,NaN
3,1258012000001,1,22580120000005,Jämjö Parkvägen,NaN
4,1258012000001,1,22580120000001,Jämjö Parkvägen,NaN

In [7]:
trip_route_mapping={}
for index, row in trips.iterrows():
    trip_id = row['trip_id']
    route_id = row['route_id']
    trip_route_mapping[trip_id] = route_id

In [13]:
stop_route_map = {}

for index, row in stop_times.iterrows():
    stop_id = row['stop_id']
    route_id = trip_route_mapping.get(row['trip_id'])  
    if route_id is not None: 
        if stop_id not in stop_route_map:
            stop_route_map[stop_id] = set()  
        stop_route_map[stop_id].add(route_id)

In [18]:
len(stop_route_map)

50524

In [19]:
#we will make maps to see routes directly reachable from a stop, reachable with one reroute and reachable with two reroutes

In [22]:
route_stop_map = defaultdict(list)
for stop, routes in stop_route_map.items():
    for route in routes:
        route_stop_map[route].append(stop)

In [24]:
len(route_stop_map)

10243

In [36]:
# Write stop_route_map to a text file
with open('stop_route_map.txt', 'w') as file:
    for stop, routes in stop_route_map.items():
        file.write(f"{stop},")
        file.write(",".join(map(str, routes)))  # Convert integers to strings
        file.write(",\n")

# Write route_stop_map to a text file
with open('route_stop_map.txt', 'w') as file:
    for route, stops in route_stop_map.items():
        file.write(f"{route},")
        file.write(",".join(map(str, stops)))  # Convert integers to strings
        file.write(",\n")